body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-image: url("/src/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  user-select: none;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  border-radius: 16px;
  width: 25em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  background-color: #141c27;
}

h1 {
  margin-top: 0;
  color: white;
}

button {
  width: 90%;
  border-radius: 8px;
  background-color: transparent;
  margin-bottom: 25px;
  padding: 15px;
  border: none;
  box-shadow: 8px 8px 8px #111821, -8px -8px 8px #17202d;
  font-size: 1.2rem;
}

button:hover {
  cursor: pointer;
}

button:active {
  transform: scale(0.9);
}

button:disabled {
  box-shadow: none;
  color: #6b211c;
  cursor: not-allowed;
}

.button-start {
  margin-top: 3em;
  color: white;
}

.button-pause {
  color: red;
}

.time-remaining {
  font-size: 3.5rem;
  margin: 0.5em 0;
}

.pomodoros-finished {
  font-size: 1.3rem;
  color: transparent;
}

.session-paused {
  font-size: 1.3rem;
  color: transparent;
}

.show {
  color: inherit;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.8rem;
    margin: 1em 0;
  }

  .card-container {
    width: 20em;
  }
}
